body {
  /*Change the background of the entire site to light blue*/
  background-color:lightblue;
  /*Change the font of the website to Arial*/
  font-family: Arial;
}

p {
  /*Change the color of all paragraphs to red*/
  color: white;
}
